/* Partner -------------------------------------------------------------------*/
.m-partner {
  border: 1px solid #90a4ae;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .partner-asuit .m-partner {
    border: 1px solid #02B588; }
  .m-partner__title {
    padding: 1rem;
    background: #90a4ae; }
    .partner-asuit .m-partner__title {
      background: #02B588; }
  .m-partner__heading {
    margin: 0;
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase; }
  .m-partner__content {
    padding: 1rem; }
  .m-partner__list-item {
    border-bottom: 1px solid #e0e0e0; }
    .m-partner__list-item:last-child {
      border-bottom: 0; }
  .m-partner__list-link {
    display: block;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #455a64; }
    .m-partner__list-link:hover {
      background-color: #fafafa;
      color: #37474f;
      text-decoration: none; }

.partner-asuit .home-icon {
  fill: #02B588; }
