@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/NHaasGroteskDSPro-95Blk.woff2") format("woff2"), url("/assets/webfonts/NHaasGroteskDSPro-95Blk.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/NHaasGroteskDSPro-75Bd.woff2") format("woff2"), url("/assets/webfonts/NHaasGroteskDSPro-75Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"), url("/assets/webfonts/NHaasGroteskDSPro-65Md.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'NeueHaasGroteskText Pro';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/NHaasGroteskTXPro-75Bd.woff2") format("woff2"), url("/assets/webfonts/NHaasGroteskTXPro-75Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'NeueHaasGroteskText Pro';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/NHaasGroteskTXPro-56It.woff2") format("woff2"), url("/assets/webfonts/NHaasGroteskTXPro-56It.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'NeueHaasGroteskText Pro';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/NHaasGroteskTXPro-55Rg.woff2") format("woff2"), url("/assets/webfonts/NHaasGroteskTXPro-55Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Publico';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/Publico-Bold.woff2") format("woff2"), url("/assets/webfonts/Publico-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Publico';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/Publico-Medium.woff2") format("woff2"), url("/assets/webfonts/Publico-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'PublicoText';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/PublicoText-Italic.woff2") format("woff2"), url("/assets/webfonts/PublicoText-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'PublicoText';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/PublicoText-BoldItalic.woff2") format("woff2"), url("/assets/webfonts/PublicoText-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'PublicoText';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/PublicoText-Bold.woff2") format("woff2"), url("/assets/webfonts/PublicoText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'PublicoText';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/PublicoText-Roman.woff2") format("woff2"), url("/assets/webfonts/PublicoText-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'NovecentoNarrow';
  src: url("/~204/dummy.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/NovecentoSansNarrow.woff2") format("woff2"), url("/assets/webfonts/NovecentoSansNarrow.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html, body, main {
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #fff; }

a {
  color: #2e6d9d;
  outline: 0; }

a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: underline; }

a,
a:visited {
  cursor: pointer;
  text-decoration: none; }

img,
object,
video {
  max-width: 100%;
  vertical-align: bottom; }

figure {
  margin: 0; }

figcaption {
  font-style: italic; }

iframe {
  margin-bottom: 1rem; }

body {
  color: #151010;
  font-family: "NeueHaasGroteskText Pro", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NeueHaasGroteskDisp Pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 0; }

::selection {
  text-shadow: none; }

address,
dl,
dt,
dd,
ol,
p,
ul,
blockquote {
  margin-bottom: 1rem;
  margin-top: 0; }

hr {
  background: #f5f5f5;
  border: 0;
  height: 2px;
  margin: 1rem 0; }

abbr {
  border-bottom: 1px dotted #e0e0e0;
  cursor: help; }

dl,
ol,
ul {
  list-style-position: outside; }

ul,
ol {
  padding-left: 0; }

ul {
  list-style-type: square; }

dd {
  margin-left: 0; }

dt,
strong {
  font-weight: 700; }

time {
  color: #757575; }

.o-bg-base {
  background-color: #fff; }

.o-bg-inverse {
  background-color: #151010; }

.o-bg-light {
  background-color: #f5f5f5; }

.o-bg-overlay {
  background-color: rgba(21, 16, 16, 0.55); }

.o-bg-secondary {
  background-color: #263238; }

.o-color-body {
  color: #151010; }

.o-color-light {
  color: #bdbdbd; }

.o-color-secondary {
  color: #757575; }

.o-color-inverse {
  color: #fff; }

.o-color-facebook {
  color: #3b5998; }

.o-color-twitter {
  color: #1da1f2; }

.o-color-youtube {
  color: #ef450f; }

.o-color-telegram {
  color: #2ca5e0; }

.o-color-whatsapp {
  color: #25d366; }

.o-line,
.o-cell {
  padding: 0 0.5rem; }
  @media screen and (min-width: 1024px) {
    .o-line,
    .o-cell {
      padding: 0 0.75rem; } }

.o-group,
.o-cell {
  float: left; }

.o-cell {
  width: 100%; }

.o-line:after {
  content: "";
  display: table;
  clear: both; }

.o-cell-1 {
  width: 8.33333%; }

.o-cell-2 {
  width: 16.66667%; }

.o-cell-3 {
  width: 25.0%; }

.o-cell-4 {
  width: 33.33333%; }

.o-cell-5 {
  width: 41.66666%; }

.o-cell-6 {
  width: 50.0%; }

.o-cell-7 {
  width: 58.33333%; }

.o-cell-8 {
  width: 66.66666%; }

.o-cell-9 {
  width: 75.0%; }

.o-cell-10 {
  width: 83.33333%; }

.o-cell-11 {
  width: 91.66666%; }

.o-cell-12 {
  width: 100.0%; }

@media (min-width: 600px) {
  .o-cell-1\@sm {
    width: 8.33333%; }
  .o-cell-2\@sm {
    width: 16.66667%; }
  .o-cell-3\@sm {
    width: 25.0%; }
  .o-cell-4\@sm {
    width: 33.33333%; }
  .o-cell-5\@sm {
    width: 41.66666%; }
  .o-cell-6\@sm {
    width: 50.0%; }
  .o-cell-7\@sm {
    width: 58.33333%; }
  .o-cell-8\@sm {
    width: 66.66666%; }
  .o-cell-9\@sm {
    width: 75.0%; }
  .o-cell-10\@sm {
    width: 83.33333%; }
  .o-cell-11\@sm {
    width: 91.66666%; }
  .o-cell-12\@sm {
    width: 100.0%; } }

@media (min-width: 740px) {
  .o-cell-1\@md {
    width: 8.33333%; }
  .o-cell-2\@md {
    width: 16.66667%; }
  .o-cell-3\@md {
    width: 25.0%; }
  .o-cell-4\@md {
    width: 33.33333%; }
  .o-cell-5\@md {
    width: 41.66666%; }
  .o-cell-6\@md {
    width: 50.0%; }
  .o-cell-7\@md {
    width: 58.33333%; }
  .o-cell-8\@md {
    width: 66.66666%; }
  .o-cell-9\@md {
    width: 75.0%; }
  .o-cell-10\@md {
    width: 83.33333%; }
  .o-cell-11\@md {
    width: 91.66666%; }
  .o-cell-12\@md {
    width: 100.0%; } }

@media (min-width: 1024px) {
  .o-cell-1\@lg {
    width: 8.33333%; }
  .o-cell-2\@lg {
    width: 16.66667%; }
  .o-cell-3\@lg {
    width: 25.0%; }
  .o-cell-4\@lg {
    width: 33.33333%; }
  .o-cell-5\@lg {
    width: 41.66666%; }
  .o-cell-6\@lg {
    width: 50.0%; }
  .o-cell-7\@lg {
    width: 58.33333%; }
  .o-cell-8\@lg {
    width: 66.66666%; }
  .o-cell-9\@lg {
    width: 75.0%; }
  .o-cell-10\@lg {
    width: 83.33333%; }
  .o-cell-11\@lg {
    width: 91.66666%; }
  .o-cell-12\@lg {
    width: 100.0%; } }

@media (min-width: 1200px) {
  .o-cell-1\@xl {
    width: 8.33333%; }
  .o-cell-2\@xl {
    width: 16.66667%; }
  .o-cell-3\@xl {
    width: 25.0%; }
  .o-cell-4\@xl {
    width: 33.33333%; }
  .o-cell-5\@xl {
    width: 41.66666%; }
  .o-cell-6\@xl {
    width: 50.0%; }
  .o-cell-7\@xl {
    width: 58.33333%; }
  .o-cell-8\@xl {
    width: 66.66666%; }
  .o-cell-9\@xl {
    width: 75.0%; }
  .o-cell-10\@xl {
    width: 83.33333%; }
  .o-cell-11\@xl {
    width: 91.66666%; }
  .o-cell-12\@xl {
    width: 100.0%; } }

@media (min-width: 1440px) {
  .o-cell-1\@xxl {
    width: 8.33333%; }
  .o-cell-2\@xxl {
    width: 16.66667%; }
  .o-cell-3\@xxl {
    width: 25.0%; }
  .o-cell-4\@xxl {
    width: 33.33333%; }
  .o-cell-5\@xxl {
    width: 41.66666%; }
  .o-cell-6\@xxl {
    width: 50.0%; }
  .o-cell-7\@xxl {
    width: 58.33333%; }
  .o-cell-8\@xxl {
    width: 66.66666%; }
  .o-cell-9\@xxl {
    width: 75.0%; }
  .o-cell-10\@xxl {
    width: 83.33333%; }
  .o-cell-11\@xxl {
    width: 91.66666%; }
  .o-cell-12\@xxl {
    width: 100.0%; } }

.o-icon {
  fill: #151010;
  vertical-align: middle; }
  .o-icon--light {
    fill: #9e9e9e; }
  .o-icon--inverse {
    fill: #fff; }
  .o-icon--xs {
    height: .75rem;
    width: .75rem; }
  .o-icon--sm {
    height: 1rem;
    width: 1rem; }
  .o-icon--md {
    height: 1.5rem;
    width: 1.5rem; }
  .o-icon--lg {
    height: 2rem;
    width: 2rem; }
  .o-icon-play {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; }
    .o-icon-play::before {
      background-color: rgba(38, 50, 56, 0.85);
      border-radius: 50%;
      content: '';
      display: block;
      height: 56px;
      margin: 0 auto;
      width: 56px; }
    .o-icon-play::after {
      border-bottom-width: 14px;
      border-color: transparent;
      border-left-width: 20px;
      border-style: solid;
      border-top-width: 14px;
      content: '';
      display: block;
      height: 0;
      left: 4px;
      margin: 0 auto;
      position: relative;
      top: -42px;
      width: 0; }
  .o-icon-live {
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px; }
    .o-icon-live--out {
      background-color: transparent;
      border: 1px solid;
      height: 14px;
      left: 0;
      position: relative;
      top: 2px;
      width: 14px; }
    .o-icon-live--in {
      height: 8px;
      left: 2px;
      position: absolute;
      top: 2px;
      width: 8px; }

.o-icon--facebook {
  fill: #3b5998; }

.o-icon--twitter {
  fill: #1da1f2; }

.o-icon--youtube {
  fill: #ef450f; }

.o-icon--telegram {
  fill: #2ca5e0; }

.o-icon--whatsapp {
  fill: #25d366; }

.o-avatar {
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem; }
  .o-avatar--sm {
    width: 1rem; }
  .o-avatar--md {
    width: 2rem; }
  .o-avatar--lg {
    width: 3rem; }

.o-media--full {
  width: 100%; }

.o-link {
  color: #2e6d9d; }
  .o-link:hover {
    text-decoration: none; }
  .o-link--dark {
    color: #151010; }
  .o-link--inverse {
    color: #fff; }

.o-faux-link {
  position: static; }
  .o-faux-link::before {
    bottom: 0;
    content: "";
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
    z-index: 1; }

.o-wrap-link {
  display: inline-block; }

.o-dot-link {
  display: inline-block;
  height: 0.5rem;
  position: relative;
  width: 0.5rem; }
  .o-dot-link:before {
    background-color: #ff3030;
    border-radius: 50%;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: calc(50% - 2px);
    transform: translateY(-50%);
    width: 100%; }

.o-src-link {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin-bottom: 2rem;
  opacity: .8;
  padding: 0.5rem;
  transition: opacity 0.3s ease-in-out; }
  .o-src-link:hover {
    opacity: 1;
    text-decoration: none; }

.o-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .o-list--doublecol {
    columns: 2;
    -webkit-columns: 2; }

.o-list--border .o-list__item {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem; }
  .o-list--border .o-list__item:last-child {
    border-bottom: 0;
    margin-bottom: 0; }

.o-list--bullet .o-list__item {
  margin-bottom: 0.5rem; }
  .o-list--bullet .o-list__item:before {
    content: '';
    display: inline-block;
    height: 4px;
    margin-right: 0.5rem;
    vertical-align: middle;
    width: 4px; }

.o-sans {
  font-family: "NeueHaasGroteskText Pro", Helvetica, Arial, sans-serif; }

.o-sans-display {
  font-family: "NeueHaasGroteskDisp Pro", Helvetica, Arial, sans-serif; }

.o-sans-narrow {
  font-family: "NovecentoNarrow", Helvetica, Arial, sans-serif; }

.o-serif {
  font-family: "PublicoText", Georgia, "Times New normal", serif; }

.o-serif-display {
  font-family: "Publico", Georgia, "Times New normal", serif; }

.o-upper {
  text-transform: uppercase; }

.o-primer {
  font-size: 0.625rem;
  line-height: 0.75rem; }

.o-pica {
  font-size: 0.75rem;
  line-height: 1rem; }

.o-english {
  font-size: 0.875rem;
  line-height: 1.25rem; }
  .o-english-r {
    font-size: 0.75rem;
    line-height: 1rem; }
    @media screen and (min-width: 22.5rem) {
      .o-english-r {
        font-size: 0.875rem;
        line-height: 1.25rem; } }
    @media screen and (min-width: 23.4375rem) and (min-height: 46.875rem) {
      .o-english-r {
        font-size: 1.15rem;
        line-height: 1.5rem; } }

.o-columbian {
  font-size: 1rem;
  line-height: 1.25rem; }

.o-greatprimer {
  font-size: 1.15rem;
  line-height: 1.375rem; }

.o-paragon {
  font-size: 1.25rem;
  line-height: 1.5rem; }

.o-doublepica {
  font-size: 0.875rem;
  line-height: 1rem; }
  @media screen and (min-width: 375px) {
    .o-doublepica {
      font-size: 0.875rem;
      line-height: 1.25rem; } }
  @media screen and (min-width: 740px) {
    .o-doublepica {
      font-size: 1.5rem;
      line-height: 1.75rem; } }

.o-doublecolumbian {
  font-size: 1.25rem;
  line-height: 1.5rem; }
  @media screen and (min-width: 375px) {
    .o-doublecolumbian {
      font-size: 1.5rem;
      line-height: 1.75rem; } }
  @media screen and (min-width: 740px) {
    .o-doublecolumbian {
      font-size: 2rem;
      line-height: 2.75rem; } }

.o-canon {
  font-size: 1.5rem;
  line-height: 1.75rem; }
  @media screen and (min-width: 375px) {
    .o-canon {
      font-size: 2rem;
      line-height: 2.25rem; } }
  @media screen and (min-width: 740px) {
    .o-canon {
      font-size: 3rem;
      line-height: 3.25rem; } }

time + .o-dot::before {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  content: '';
  background: #9e9e9e;
  border-radius: 50%;
  margin: 0 0.25rem 0 0;
  vertical-align: middle; }

.o-summary {
  font-family: "PublicoText", Georgia, "Times New normal", serif;
  font-size: 0.75rem;
  line-height: 1.15rem; }
  @media screen and (min-width: 375px) {
    .o-summary {
      font-size: 0.875rem;
      line-height: 1.25rem; } }
  .o-summary--large {
    font-size: 1rem;
    line-height: 1.5rem; }
  .o-summary--xlarge {
    font-size: 1.25rem;
    line-height: 1.75rem; }

.o-sponsor {
  color: #edce8e; }

.o-title {
  font-family: "Publico", Georgia, "Times New normal", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 0; }
  @media screen and (min-width: 375px) {
    .o-title {
      font-size: 1.25rem; } }
  .o-title-border {
    border-top-style: solid;
    border-top-width: 4px;
    padding-top: 1rem; }
  .o-title-brand {
    height: 1.5rem; }

.c-entry {
  padding-bottom: 1rem;
  color: #151010; }
  .c-entry__body {
    font-size: 1rem; }
    @media screen and (min-width: 375px) {
      .c-entry__body {
        font-size: 1.15rem; } }
    .c-entry__body > p:first-of-type::first-letter {
      font-size: 3.75rem;
      float: left;
      font-weight: 400;
      line-height: 3rem;
      margin-right: .5rem;
      margin-top: .25rem; }
    .c-entry__body > p,
    .c-entry__body > ul,
    .c-entry__body > ol,
    .c-entry__body > dl {
      font-family: "PublicoText", Georgia, "Times New normal", serif;
      line-height: 1.5rem; }
      @media screen and (min-width: 375px) {
        .c-entry__body > p,
        .c-entry__body > ul,
        .c-entry__body > ol,
        .c-entry__body > dl {
          line-height: 1.75rem; } }
    .c-entry__body > ul,
    .c-entry__body > ol {
      padding-left: 0; }
    .c-entry__body > ul,
    .c-entry__body > ol,
    .c-entry__body > p {
      margin-bottom: 1.5rem;
      font-size: 1rem; }
      @media screen and (min-width: 375px) {
        .c-entry__body > ul,
        .c-entry__body > ol,
        .c-entry__body > p {
          font-size: 1.15rem; } }
    .c-entry__body > ul li,
    .c-entry__body > ol li {
      margin-bottom: 0.5rem; }
    .c-entry__body > h2 {
      font-size: 1.5rem;
      line-height: 2rem;
      padding-top: 1.5rem;
      margin-bottom: 0.5rem; }
    .c-entry__body > h3 {
      color: #757575;
      font-size: 1.15rem;
      line-height: 1.5rem;
      position: relative;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem; }
      .c-entry__body > h3::before {
        color: #bdbdbd;
        content: 'Leggi anche';
        display: block;
        font-size: 0.75rem;
        margin-bottom: .25rem;
        position: relative;
        text-transform: uppercase; }
      .c-entry__body > h3 + h3 {
        margin-top: -1rem; }
        .c-entry__body > h3 + h3::before {
          display: none; }
      .c-entry__body > h3 a {
        border-bottom: 0;
        color: #757575;
        padding-left: 1rem;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease; }
        .c-entry__body > h3 a:hover {
          color: #151010; }
      .c-entry__body > h3 a::before {
        width: 8px;
        height: 8px;
        content: '';
        left: 0;
        margin-top: 6px;
        position: absolute; }
        .t-black .c-entry__body > h3 a::before {
          border-left-color: #322626; }
        .t-blue .c-entry__body > h3 a::before {
          border-left-color: #3277c7; }
        .t-cyan .c-entry__body > h3 a::before {
          border-left-color: #2a9ddb; }
        .t-green .c-entry__body > h3 a::before {
          border-left-color: #50ae55; }
        .t-pink .c-entry__body > h3 a::before {
          border-left-color: #f291b2; }
        .t-purple .c-entry__body > h3 a::before {
          border-left-color: #b75dc7; }
        .t-red .c-entry__body > h3 a::before {
          border-left-color: #f2463d; }
        .t-yellow .c-entry__body > h3 a::before {
          border-left-color: #ffbe26; }
    .c-entry__body p a,
    .c-entry__body p strong a,
    .c-entry__body p em a {
      color: #151010;
      border-bottom: 2px solid #e0e0e0;
      text-decoration: none !important;
      -webkit-transition: border 0.2s ease-out;
      transition: border 0.2s ease-out; }
      .c-entry__body p a:hover,
      .c-entry__body p strong a:hover,
      .c-entry__body p em a:hover {
        border-bottom-color: #bababa; }
    .c-entry__body > iframe,
    .c-entry__body > p > iframe {
      width: 100%;
      margin-bottom: 0; }
    .c-entry__body > blockquote {
      border-left-style: solid;
      border-left-width: 6px;
      margin: 1.5rem -1rem 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      .c-entry__body > blockquote p {
        font-family: "PublicoText", Georgia, "Times New normal", serif;
        font-size: 1.15rem;
        font-style: italic;
        line-height: 1.75rem;
        color: #757575; }
      .t-black .c-entry__body > blockquote {
        border-left-color: #322626; }
      .t-blue .c-entry__body > blockquote {
        border-left-color: #3277c7; }
      .t-cyan .c-entry__body > blockquote {
        border-left-color: #2a9ddb; }
      .t-green .c-entry__body > blockquote {
        border-left-color: #50ae55; }
      .t-pink .c-entry__body > blockquote {
        border-left-color: #f291b2; }
      .t-purple .c-entry__body > blockquote {
        border-left-color: #b75dc7; }
      .t-red .c-entry__body > blockquote {
        border-left-color: #f2463d; }
      .t-yellow .c-entry__body > blockquote {
        border-left-color: #ffbe26; }
    .c-entry__body table {
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 1rem;
      max-width: 100%;
      padding: 0;
      width: 100%; }
      .c-entry__body table thead tr {
        background-color: #eee; }
      .c-entry__body table thead th {
        font-size: 0.75rem;
        padding: 0.5rem;
        text-align: left; }
      .c-entry__body table thead tr td,
      .c-entry__body table tbody tr td {
        padding: 0.5rem; }
      .c-entry__body table tbody tr {
        border-bottom: 1px solid #e0e0e0; }
  .c-entry__byline {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  .c-entry__labels {
    bottom: 1rem;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 700;
    left: 1rem;
    position: absolute;
    z-index: 1; }
  .c-entry__label {
    position: relative;
    z-index: 10; }
  .c-entry__media {
    margin: 0 -1rem 1rem;
    position: relative; }
    .c-entry__media::before {
      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 55%, rgba(0, 0, 0, 0.65) 93%, #212121 100%);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 1; }
    .c-entry__media img {
      width: 100%; }
  .c-entry__meta {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.5rem 0; }
  .c-entry__tag::before {
    color: #bdbdbd;
    content: '/';
    display: inline-block;
    margin-left: 4px; }
  .c-entry__tag:first-child::before {
    display: none; }

.back-to-top-link {
  background-color: #607d8b;
  color: #fff;
  display: block;
  font-family: "NovecentoNarrow", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  @media screen and (min-width: 740px) {
    .back-to-top-link {
      display: none; } }
  .back-to-top-link:hover {
    color: #fff;
    text-decoration: none; }
  .back-to-top-link .icon {
    fill: #fff; }

.site-footer {
  background-color: #263238;
  border-top: 8px solid #546e7a;
  padding: 1.5rem 0;
  width: 100%; }
  .site-footer:after {
    content: "";
    display: table;
    clear: both; }
  .site-footer p, .site-footer ul, .site-footer ol, .site-footer li, .site-footer span {
    color: #546e7a;
    font-size: 0.75rem; }
  .site-footer .link {
    color: #bdbdbd;
    font-weight: 700;
    line-height: 1.5rem;
    text-decoration: none; }
    .site-footer .link:hover {
      color: #fff; }
  .site-footer .site-brand {
    display: none;
    margin-bottom: .3rem; }
    @media screen and (min-width: 740px) {
      .site-footer .site-brand {
        display: block; } }
    .site-footer .site-brand .logo {
      height: 1.5rem;
      width: 10rem; }
  .site-footer .footer-col {
    margin-bottom: 2rem; }
    @media screen and (min-width: 740px) {
      .site-footer .footer-col {
        margin-bottom: 1rem; } }
    .site-footer .footer-col .footer-col-title {
      font-family: "NovecentoNarrow", Helvetica, Arial, sans-serif;
      font-weight: normal;
      margin: 0.5rem 0;
      text-transform: uppercase; }
    .site-footer .footer-col.footer-list-link .list-link li {
      line-height: 1.75rem; }
      @media screen and (min-width: 1024px) {
        .site-footer .footer-col.footer-list-link .list-link li {
          line-height: 1.5rem; } }
    @media screen and (max-width: 1024px) {
      .site-footer .footer-col.footer-nav .list-link {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2; } }
  .site-footer .footer-network-map {
    float: left;
    margin-right: .5rem;
    opacity: .4;
    width: 8rem; }
  .site-footer .footer-col-social {
    text-align: center; }
    @media screen and (min-width: 740px) {
      .site-footer .footer-col-social {
        text-align: left; } }
    .site-footer .footer-col-social li {
      margin-right: .5rem; }
    .site-footer .footer-col-social .icon {
      fill: #fff; }
    @media screen and (max-width: 740px) {
      .site-footer .footer-col-social .footer-col-title {
        display: none; } }
    .site-footer .footer-col-social .footer-network-dropdown {
      margin-top: 1rem; }
      @media screen and (min-width: 1024px) {
        .site-footer .footer-col-social .footer-network-dropdown {
          display: none; } }
    .site-footer .footer-col-social .footer-app-links img {
      opacity: .75;
      width: 6rem; }
  .site-footer .footer-app-links {
    margin-top: 1rem; }
  .site-footer .footer-note {
    float: left;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 740px) {
      .site-footer .footer-note {
        text-align: right; } }
    .site-footer .footer-note .company-logo {
      margin-bottom: 0.5rem;
      opacity: .3; }
      .site-footer .footer-note .company-logo img {
        height: 2rem;
        width: auto; }
    .site-footer .footer-note .list-link {
      margin-bottom: 0.5rem; }
    .site-footer .footer-note .footer-copy {
      color: #757575;
      font-size: 0.75rem;
      line-height: 1rem; }

.c-header {
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  width: 100%; }
  .c-header--translate {
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.3);
    perspective: 1000;
    transform: translate3d(0, -114px, 0);
    transition: transform .1s ease-in;
    z-index: 10; }
  .c-header--translate-in {
    animation: translate-in 0.3s ease forwards;
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.3);
    position: fixed;
    animation-delay: .5s; }
  .c-header--translate-out {
    animation: translate-out 0.3s ease-out forwards;
    box-shadow: none;
    position: fixed; }

.u-mt-0 {
  margin-top: 0; }

.u-mt-size1x {
  margin-top: 0.5rem; }

.u-mt-size2x {
  margin-top: 1rem; }

.u-mt-size3x {
  margin-top: 1.5rem; }

.u-mt-size4x {
  margin-top: 2rem; }

.u-mt-size6x {
  margin-top: 3rem; }

.u-mt-size9x {
  margin-top: 4.5rem; }

.u-mt-size12x {
  margin-top: 6rem; }

.u-mr-0 {
  margin-right: 0; }

.u-mr-size1x {
  margin-right: 0.5rem; }

.u-mr-size2x {
  margin-right: 1rem; }

.u-mr-size3x {
  margin-right: 1.5rem; }

.u-mr-size4x {
  margin-right: 2rem; }

.u-mr-size6x {
  margin-right: 3rem; }

.u-mr-size9x {
  margin-right: 4.5rem; }

.u-mr-size12x {
  margin-right: 6rem; }

.u-mb-0 {
  margin-bottom: 0; }

.u-mb-size1x {
  margin-bottom: 0.5rem; }

.u-mb-size2x {
  margin-bottom: 1rem; }

.u-mb-size3x {
  margin-bottom: 1.5rem; }

.u-mb-size4x {
  margin-bottom: 2rem; }

.u-mb-size6x {
  margin-bottom: 3rem; }

.u-mb-size9x {
  margin-bottom: 4.5rem; }

.u-mb-size12x {
  margin-bottom: 6rem; }

.u-ml-0 {
  margin-left: 0; }

.u-ml-size1x {
  margin-left: 0.5rem; }

.u-ml-size2x {
  margin-left: 1rem; }

.u-ml-size3x {
  margin-left: 1.5rem; }

.u-ml-size4x {
  margin-left: 2rem; }

.u-ml-size6x {
  margin-left: 3rem; }

.u-ml-size9x {
  margin-left: 4.5rem; }

.u-ml-size12x {
  margin-left: 6rem; }

.u-mx-0 {
  margin-right: 0;
  margin-left: 0; }

.u-mx-size1x {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.u-mx-size2x {
  margin-right: 1rem;
  margin-left: 1rem; }

.u-mx-size3x {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.u-mx-size4x {
  margin-right: 2rem;
  margin-left: 2rem; }

.u-mx-size6x {
  margin-right: 3rem;
  margin-left: 3rem; }

.u-mx-size9x {
  margin-right: 4.5rem;
  margin-left: 4.5rem; }

.u-mx-size12x {
  margin-right: 6rem;
  margin-left: 6rem; }

.u-my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.u-my-size1x {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.u-my-size2x {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.u-my-size3x {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.u-my-size4x {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.u-my-size6x {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.u-my-size9x {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

.u-my-size12x {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.u-m0 {
  margin: 0; }

.u-pt-0 {
  padding-top: 0; }

.u-pt-size1x {
  padding-top: 0.5rem; }

.u-pt-size2x {
  padding-top: 1rem; }

.u-pt-size3x {
  padding-top: 1.5rem; }

.u-pt-size4x {
  padding-top: 2rem; }

.u-pt-size6x {
  padding-top: 3rem; }

.u-pt-size9x {
  padding-top: 4.5rem; }

.u-pt-size12x {
  padding-top: 6rem; }

.u-pr-0 {
  padding-right: 0; }

.u-pr-size1x {
  padding-right: 0.5rem; }

.u-pr-size2x {
  padding-right: 1rem; }

.u-pr-size3x {
  padding-right: 1.5rem; }

.u-pr-size4x {
  padding-right: 2rem; }

.u-pr-size6x {
  padding-right: 3rem; }

.u-pr-size9x {
  padding-right: 4.5rem; }

.u-pr-size12x {
  padding-right: 6rem; }

.u-pb-0 {
  padding-bottom: 0; }

.u-pb-size1x {
  padding-bottom: 0.5rem; }

.u-pb-size2x {
  padding-bottom: 1rem; }

.u-pb-size3x {
  padding-bottom: 1.5rem; }

.u-pb-size4x {
  padding-bottom: 2rem; }

.u-pb-size6x {
  padding-bottom: 3rem; }

.u-pb-size9x {
  padding-bottom: 4.5rem; }

.u-pb-size12x {
  padding-bottom: 6rem; }

.u-pl-0 {
  padding-left: 0; }

.u-pl-size1x {
  padding-left: 0.5rem; }

.u-pl-size2x {
  padding-left: 1rem; }

.u-pl-size3x {
  padding-left: 1.5rem; }

.u-pl-size4x {
  padding-left: 2rem; }

.u-pl-size6x {
  padding-left: 3rem; }

.u-pl-size9x {
  padding-left: 4.5rem; }

.u-pl-size12x {
  padding-left: 6rem; }

.u-px-0 {
  padding-right: 0;
  padding-left: 0; }

.u-px-size1x {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.u-px-size2x {
  padding-right: 1rem;
  padding-left: 1rem; }

.u-px-size3x {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.u-px-size4x {
  padding-right: 2rem;
  padding-left: 2rem; }

.u-px-size6x {
  padding-right: 3rem;
  padding-left: 3rem; }

.u-px-size9x {
  padding-right: 4.5rem;
  padding-left: 4.5rem; }

.u-px-size12x {
  padding-right: 6rem;
  padding-left: 6rem; }

.u-py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.u-py-size1x {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.u-py-size2x {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.u-py-size3x {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.u-py-size4x {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.u-py-size6x {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.u-py-size9x {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.u-py-size12x {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.u-pxy-0 {
  padding: 0; }

.u-pxy-size1x {
  padding: 0.5rem; }

.u-pxy-size2x {
  padding: 1rem; }

.u-pxy-size3x {
  padding: 1.5rem; }

.u-pxy-size4x {
  padding: 2rem; }

.u-pxy-size6x {
  padding: 3rem; }

.u-pxy-size9x {
  padding: 4.5rem; }

.u-pxy-size12x {
  padding: 6rem; }

.u-p0 {
  padding: 0; }

.u-align-center {
  text-align: center; }

.u-align-right {
  text-align: right; }

.u-align-left {
  text-align: left; }

.u-align-start {
  align-self: start; }

.u-float-left {
  float: left; }

.u-float-right {
  float: right; }

.u-border-none {
  border: 0 none; }

.u-flex, .u-column, .u-row, .u-row-reverse {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.u-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.u-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.u-row-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.u-row-reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.u-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.u-flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.u-flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.u-justify-center {
  -webkit-justify-content: center;
  justify-content: center; }

.u-items-center {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.u-nobullet {
  list-style: none; }

.u-reset {
  margin: 0;
  padding: 0; }

.u-expand {
  margin-left: -1rem;
  margin-right: -1rem; }

.t-blue ::selection {
  background-color: rgba(50, 119, 199, 0.3); }

.t-blue .c-progress__status {
  background: rgba(50, 119, 199, 0.7); }

.t-blue .c-modal,
.t-blue .t-bg,
.t-blue .t-bg-el::before,
.t-blue .c-entry__body > h3 > a::before {
  background-color: #3277c7; }

.t-blue .t-bg--200 {
  background-color: #80acdf; }

.t-blue .t-border {
  border-color: #3277c7; }

.t-blue .t-color {
  color: #3277c7; }

.t-blue .c-progress .c-brand__edition {
  fill: #fff; }

.t-blue .c-brand__edition,
.t-blue .t-fill {
  fill: #3277c7; }

.t-blue .t-icon-play::after {
  border-left-color: #3277c7; }

.t-blue .c-entry__body p a {
  color: #151010;
  border-color: #3277c7;
  background-color: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .t-blue .c-entry__body p a:hover {
    text-decoration: none;
    border-color: rgba(50, 119, 199, 0.3);
    background-color: rgba(50, 119, 199, 0.3); }

.t-cyan ::selection {
  background-color: rgba(42, 157, 219, 0.3); }

.t-cyan .c-progressivereadingbar__status {
  background: rgba(42, 157, 219, 0.7); }

.t-cyan .c-modal,
.t-cyan .t-bg,
.t-cyan .t-bg-el::before,
.t-cyan .c-entry__body > h3 > a::before {
  background-color: #2a9ddb; }

.t-cyan .t-bg--200 {
  background-color: #81c5ea; }

.t-cyan .t-border {
  border-color: #2a9ddb; }

.t-cyan .t-color {
  color: #2a9ddb; }

.t-cyan .c-brand__edition,
.t-cyan .t-fill {
  fill: #2a9ddb; }

.t-cyan .t-icon-play::after {
  border-left-color: #2a9ddb; }

.t-cyan .c-entry__body p a {
  color: #151010;
  border-color: #2a9ddb;
  background-color: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .t-cyan .c-entry__body p a:hover {
    text-decoration: none;
    border-color: rgba(42, 157, 219, 0.3);
    background-color: rgba(42, 157, 219, 0.3); }

.t-green ::selection {
  background-color: rbga(#50ae55, 0.3); }

.t-green .c-progressivereadingbar__status {
  background: rgba(80, 174, 85, 0.7); }

.t-green .c-modal,
.t-green .t-bg,
.t-green .t-bg-el::before,
.t-green .c-entry__body > h3 > a::before {
  background-color: #50ae55; }

.t-green .t-bg--200 {
  background-color: #96ce99; }

.t-green .t-border {
  border-color: #50ae55; }

.t-green .t-color {
  color: #50ae55; }

.t-green .t-fill {
  fill: #50ae55; }

.t-green .t-icon-play::after {
  border-left-color: #50ae55; }

.t-green .c-entry__body p a {
  color: #151010;
  border-color: #50ae55;
  background-color: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .t-green .c-entry__body p a:hover {
    text-decoration: none;
    border-color: rgba(80, 174, 85, 0.3);
    background-color: rgba(80, 174, 85, 0.3); }

.t-pink ::selection {
  background-color: rgba(242, 145, 178, 0.3); }

.t-pink .c-progressivereadingbar__status {
  background: rgba(242, 145, 178, 0.7); }

.t-pink .c-modal,
.t-pink .t-bg,
.t-pink .t-bg-el::before,
.t-pink .c-entry__body > h3 > a::before {
  background-color: #f291b2; }

.t-pink .t-bg--200 {
  background-color: #fdecf2; }

.t-pink .t-border {
  border-color: #f291b2; }

.t-pink .t-color {
  color: #f291b2; }

.t-pink .t-fill {
  fill: #f291b2; }

.t-pink .t-icon-play::after {
  border-left-color: #f291b2; }

.t-pink .c-entry__body p a {
  color: #151010;
  border-color: #f291b2;
  background-color: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .t-pink .c-entry__body p a:hover {
    text-decoration: none;
    border-color: rgba(242, 145, 178, 0.3);
    background-color: rgba(242, 145, 178, 0.3); }

.t-purple ::selection {
  background-color: rgba(183, 93, 199, 0.3); }

.t-purple .c-progressivereadingbar__status {
  background: rgba(183, 93, 199, 0.7); }

.t-purple .c-modal,
.t-purple .t-bg,
.t-purple .t-bg-el::before,
.t-purple .c-entry__body > h3 > a::before {
  background-color: #b75dc7; }

.t-purple .t-bg--200 {
  background-color: #d9a9e1; }

.t-purple .t-border {
  border-color: #b75dc7; }

.t-purple .t-color {
  color: #b75dc7; }

.t-purple .t-fill {
  fill: #b75dc7; }

.t-purple .t-icon-play::after {
  border-left-color: #b75dc7; }

.t-purple .c-entry__body p a {
  color: #151010;
  border-color: #b75dc7;
  background-color: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .t-purple .c-entry__body p a:hover {
    text-decoration: none;
    border-color: rgba(183, 93, 199, 0.3);
    background-color: rgba(183, 93, 199, 0.3); }

.t-red ::selection {
  background-color: rgba(242, 70, 61, 0.3); }

.t-red .c-progressivereadingbar__status {
  background: rgba(242, 70, 61, 0.7); }

.t-red .c-modal,
.t-red .t-bg,
.t-red .t-bg-el::before,
.t-red .c-entry__body > h3 > a::before {
  background-color: #f2463d; }

.t-red .t-bg--200 {
  background-color: #f8a19d; }

.t-red .t-border {
  border-color: #f2463d; }

.t-red .t-color {
  color: #f2463d; }

.t-red .t-fill {
  fill: #f2463d; }

.t-red .t-icon-play::after {
  border-left-color: #f2463d; }

.t-red .c-entry__body p a {
  color: #151010;
  border-color: #f2463d;
  background-color: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .t-red .c-entry__body p a:hover {
    text-decoration: none;
    border-color: rgba(242, 70, 61, 0.3);
    background-color: rgba(242, 70, 61, 0.3); }

.t-ruby ::selection {
  background-color: rgba(217, 33, 33, 0.3); }

.t-ruby .c-progressivereadingbar__status {
  background: rgba(217, 33, 33, 0.7); }

.t-ruby .c-modal,
.t-ruby .t-bg,
.t-ruby .t-bg-el::before,
.t-ruby .c-entry__body > h3 > a::before {
  background-color: #d92121; }

.t-ruby .t-bg--200 {
  background-color: #ea7676; }

.t-ruby .t-border {
  border-color: #d92121; }

.t-ruby .t-color {
  color: #d92121; }

.t-ruby .t-fill {
  fill: #d92121; }

.t-ruby .t-icon-play::after {
  border-left-color: #d92121; }

.t-ruby .c-entry__body p a {
  color: #151010;
  border-color: #d92121;
  background-color: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .t-ruby .c-entry__body p a:hover {
    text-decoration: none;
    border-color: rgba(217, 33, 33, 0.3);
    background-color: rgba(217, 33, 33, 0.3); }

.t-yellow ::selection {
  background-color: rgba(255, 190, 38, 0.3); }

.t-yellow .c-toolbar__status {
  background: rgba(255, 190, 38, 0.7); }

.t-yellow .c-modal,
.t-yellow .t-bg,
.t-yellow .t-bg-el::before,
.t-yellow .c-entry__body > h3 > a::before {
  background-color: #ffbe26; }

.t-yellow .t-bg--200 {
  background-color: #ffdd8c; }

.t-yellow .t-border {
  border-color: #ffbe26; }

.t-yellow .t-color {
  color: #ffbe26; }

.t-yellow .c-brand__edition,
.t-yellow .t-fill {
  fill: #ffbe26; }

.t-yellow .t-bg .c-brand__edition {
  fill: #fff; }

.t-yellow .t-icon-play::after {
  border-left-color: #ffbe26; }

.t-yellow .c-entry__body p a {
  color: #151010;
  border-color: #ffbe26;
  background-color: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .t-yellow .c-entry__body p a:hover {
    text-decoration: none;
    border-color: rgba(255, 190, 38, 0.3);
    background-color: rgba(255, 190, 38, 0.3); }

.c-brand {
  height: 2rem; }
