.a-native__abstract {
  color: #757575;
  font-family: "PublicoText", Georgia, "Times New normal", serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0; }

.a-native__label {
  font-family: 'NovecentoNarrow-DemiBold', 'NovecentoNarrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  margin-bottom: .25rem;
  text-transform: uppercase; }
  .theme-black .a-native__label,
  .t-black .a-native__label {
    color: #3b3b3b; }
  .theme-blue .a-native__label,
  .t-blue .a-native__label {
    color: #3277c7; }
  .theme-cyan .a-native__label,
  .t-cyan .a-native__label {
    color: #2a9ddb; }
  .theme-green .a-native__label,
  .t-green .a-native__label {
    color: #50ae55; }
  .theme-pink .a-native__label,
  .t-pink .a-native__label {
    color: #f291b2; }
  .theme-purple .a-native__label,
  .t-purple .a-native__label {
    color: #b75dc7; }
  .theme-red .a-native__label,
  .t-red .a-native__label {
    color: #f2463d; }
  .theme-ruby .a-native__label,
  .t-ruby .a-native__label {
    color: #d92121; }
  .theme-yellow .a-native__label,
  .t-yellow .a-native__label {
    color: #ffbe26; }
  .a-native__label--event {
    bottom: 0;
    color: #fff !important;
    font-family: 'NovecentoNarrow-DemiBold', 'NovecentoNarrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    left: 0;
    margin-bottom: 0;
    padding: 0.5rem;
    position: absolute; }
    .theme-black .a-native__label--event,
    .t-black .a-native__label--event {
      background-color: #3b3b3b; }
    .theme-blue .a-native__label--event,
    .t-blue .a-native__label--event {
      background-color: #3277c7; }
    .theme-cyan .a-native__label--event,
    .t-cyan .a-native__label--event {
      background-color: #2a9ddb; }
    .theme-green .a-native__label--event,
    .t-green .a-native__label--event {
      background-color: #50ae55; }
    .theme-pink .a-native__label--event,
    .t-pink .a-native__label--event {
      background-color: #f291b2; }
    .theme-purple .a-native__label--event,
    .t-purple .a-native__label--event {
      background-color: #b75dc7; }
    .theme-red .a-native__label--event,
    .t-red .a-native__label--event {
      background-color: #f2463d; }
    .theme-ruby .a-native__label--event,
    .t-ruby .a-native__label--event {
      background-color: #d92121; }
    .theme-yellow .a-native__label--event,
    .t-yellow .a-native__label--event {
      background-color: #ffbe26; }
  .a-native-event .a-native__label {
    padding-left: .5rem; }
  .a-native-desktop-home .a-native-m .a-native__label {
    display: block; }

.a-native__link {
  color: #151010; }
  .a-native-desktop-home .a-native__link,
  .a-native-desktop-news .a-native__link {
    color: #424242;
    position: relative;
    z-index: 2; }
    .a-native-desktop-home .a-native__link:hover,
    .a-native-desktop-news .a-native__link:hover {
      color: #151010; }
  .a-native-desktop-home .a-native-m .a-native__link {
    color: #fff; }
  .a-native-desktop-home.a-native--inverted .a-native__link,
  .a-native-desktop-news.a-native--inverted .a-native__link {
    color: #fff; }
    .a-native-desktop-home.a-native--inverted .a-native__link:hover,
    .a-native-desktop-news.a-native--inverted .a-native__link:hover {
      color: #fff; }

.a-native__kicker {
  color: #fff;
  display: inline-block;
  font-family: "NovecentoNarrow", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  padding: 6px;
  text-transform: uppercase; }
  .a-native-desktop-home .a-native__kicker,
  .a-native-desktop-home .a-native-m .a-native__kicker {
    font-family: "NeueHaasGroteskDisp Pro",Helvetica,Arial,sans-serif;
    font-size: 1.25rem;
    padding-left: 0;
    text-transform: capitalize; }
    .a-native-desktop-home .a-native__kicker:before,
    .a-native-desktop-home .a-native-m .a-native__kicker:before {
      content: '';
      display: block;
      height: .15rem;
      margin-bottom: .25rem;
      width: 1.5rem; }
      .theme-black .a-native-desktop-home .a-native__kicker:before, .theme-black
      .a-native-desktop-home .a-native-m .a-native__kicker:before {
        background-color: #3b3b3b; }
      .theme-blue .a-native-desktop-home .a-native__kicker:before, .theme-blue
      .a-native-desktop-home .a-native-m .a-native__kicker:before {
        background-color: #3277c7; }
      .theme-cyan .a-native-desktop-home .a-native__kicker:before, .theme-cyan
      .a-native-desktop-home .a-native-m .a-native__kicker:before {
        background-color: #2a9ddb; }
      .theme-green .a-native-desktop-home .a-native__kicker:before, .theme-green
      .a-native-desktop-home .a-native-m .a-native__kicker:before {
        background-color: #50ae55; }
      .theme-pink .a-native-desktop-home .a-native__kicker:before, .theme-pink
      .a-native-desktop-home .a-native-m .a-native__kicker:before {
        background-color: #f291b2; }
      .theme-purple .a-native-desktop-home .a-native__kicker:before, .theme-purple
      .a-native-desktop-home .a-native-m .a-native__kicker:before {
        background-color: #b75dc7; }
      .theme-red .a-native-desktop-home .a-native__kicker:before, .theme-red
      .a-native-desktop-home .a-native-m .a-native__kicker:before {
        background-color: #f2463d; }
      .theme-ruby .a-native-desktop-home .a-native__kicker:before, .theme-ruby
      .a-native-desktop-home .a-native-m .a-native__kicker:before {
        background-color: #d92121; }
      .theme-yellow .a-native-desktop-home .a-native__kicker:before, .theme-yellow
      .a-native-desktop-home .a-native-m .a-native__kicker:before {
        background-color: #ffbe26; }

.a-native__rating {
  display: flex;
  flex: 1 0 auto;
  list-style: none;
  margin: 0 0 .5rem;
  padding: 0 0 0 .5rem; }
  .a-native__rating li {
    margin-right: .125rem; }

.a-native__text {
  width: 100%; }

.a-native__title {
  font-size: 0.75rem;
  height: 3rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline; }
  @media screen and (min-width: 22.5rem) {
    .a-native__title {
      font-size: 0.875rem;
      height: 3.75rem;
      line-height: 1.25rem; } }
  @media screen and (min-width: 23.4375rem) and (min-height: 46.875rem) {
    .a-native__title {
      font-size: 1.15rem;
      height: 4.5rem;
      line-height: 1.5rem; } }
  .a-native-event .a-native__title {
    padding: .5rem .5rem 0; }
  .fp-block__cell .a-native__title {
    font-family: "Publico", Georgia, "Times New normal", serif;
    font-weight: 700; }

.a-native__faux-link:before {
  bottom: 0;
  content: "";
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  z-index: 1; }

.o-faux-link::before {
  bottom: 0;
  content: "";
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  z-index: 1; }

.a-native-s {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative; }
  .a-native-desktop-home .a-native-s .a-native-s__media,
  .a-native-desktop-news .a-native-s .a-native-s__media {
    background-size: 100%;
    transition: background-size .15s ease-out; }
  .a-native-desktop-home .a-native-s:hover .a-native-s__media,
  .a-native-desktop-news .a-native-s:hover .a-native-s__media {
    background-size: 110%;
    transition-delay: .5s; }
  .a-native-s-mobile-home[data-natives-counter="1"] .a-native-s {
    border-bottom: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%; }
  .a-native-s-mobile-home[data-natives-counter="2"] .a-native-s {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.75rem; }
  .a-native-s-mobile-home[data-natives-counter="2"] div[data-native-position="1"] .a-native-s {
    padding-bottom: 1rem; }
  .a-native-s-mobile-home[data-natives-counter="2"] div[data-native-position="1"] .a-native-s,
  .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="1"] .a-native-s,
  .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="1"] .a-native-s,
  .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="2"] .a-native-s,
  .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="2"] .a-native-s,
  .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="3"] .a-native-s {
    border-bottom: 1px solid #e0e0e0; }
  .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="1"] .a-native-s {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50vh; }
  .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="2"] .a-native-s {
    padding-bottom: .75rem; }
  .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="1"] .a-native-s {
    height: 33vh; }
  .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="2"] .a-native-s,
  .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="3"] .a-native-s {
    padding-bottom: 0.5rem;
    margin-bottom: .25rem; }
  .a-native-s-mobile-news .a-native-s {
    padding-bottom: 1rem;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }
  .a-native-desktop-home .a-native-s {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    padding: 0; }
  .a-native-desktop-news .a-native-s {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .a-native-desktop-home .a-native-s .a-native__abstract,
  .a-native-desktop-news .a-native-s .a-native__abstract,
  .a-native-s-mobile-news .a-native-s .a-native__abstract,
  .a-native-s-mobile-home[data-natives-counter="3"] .a-native-s .a-native__abstract,
  .a-native-s-mobile-home[data-natives-counter="4"] .a-native-s .a-native__abstract {
    display: none; }
  .a-native-s-mobile-home[data-natives-counter="1"] .a-native-s .a-native__abstract,
  .a-native-s-mobile-home[data-natives-counter="2"] .a-native-s .a-native__abstract {
    font-size: 0.75rem;
    line-height: 1.15rem; }
  .a-native-s-mobile-home[data-natives-counter="2"] .a-native-s .a-native__abstract {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-order: 3;
    -ms-flex-order: 3;
    order: 3; }
  .a-native-desktop-news .a-native-s .a-native__label {
    font-size: 0.875rem; }
  .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="1"] .a-native-s .a-native__link {
    color: #fff; }
  .theme-black .a-native-desktop-home .a-native-s .a-native__link,
  .theme-black .a-native-desktop-news .a-native-s .a-native__link {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out; }
    .theme-black .a-native-desktop-home .a-native-s .a-native__link:hover,
    .theme-black .a-native-desktop-news .a-native-s .a-native__link:hover {
      background-color: rgba(59, 59, 59, 0.5);
      text-decoration: none; }
  .theme-blue .a-native-desktop-home .a-native-s .a-native__link,
  .theme-blue .a-native-desktop-news .a-native-s .a-native__link {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out; }
    .theme-blue .a-native-desktop-home .a-native-s .a-native__link:hover,
    .theme-blue .a-native-desktop-news .a-native-s .a-native__link:hover {
      background-color: rgba(50, 119, 199, 0.5);
      text-decoration: none; }
  .theme-cyan .a-native-desktop-home .a-native-s .a-native__link,
  .theme-cyan .a-native-desktop-news .a-native-s .a-native__link {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out; }
    .theme-cyan .a-native-desktop-home .a-native-s .a-native__link:hover,
    .theme-cyan .a-native-desktop-news .a-native-s .a-native__link:hover {
      background-color: rgba(42, 157, 219, 0.5);
      text-decoration: none; }
  .theme-green .a-native-desktop-home .a-native-s .a-native__link,
  .theme-green .a-native-desktop-news .a-native-s .a-native__link {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out; }
    .theme-green .a-native-desktop-home .a-native-s .a-native__link:hover,
    .theme-green .a-native-desktop-news .a-native-s .a-native__link:hover {
      background-color: rgba(80, 174, 85, 0.5);
      text-decoration: none; }
  .theme-pink .a-native-desktop-home .a-native-s .a-native__link,
  .theme-pink .a-native-desktop-news .a-native-s .a-native__link {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out; }
    .theme-pink .a-native-desktop-home .a-native-s .a-native__link:hover,
    .theme-pink .a-native-desktop-news .a-native-s .a-native__link:hover {
      background-color: rgba(242, 145, 178, 0.5);
      text-decoration: none; }
  .theme-purple .a-native-desktop-home .a-native-s .a-native__link,
  .theme-purple .a-native-desktop-news .a-native-s .a-native__link {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out; }
    .theme-purple .a-native-desktop-home .a-native-s .a-native__link:hover,
    .theme-purple .a-native-desktop-news .a-native-s .a-native__link:hover {
      background-color: rgba(183, 93, 199, 0.5);
      text-decoration: none; }
  .theme-red .a-native-desktop-home .a-native-s .a-native__link,
  .theme-red .a-native-desktop-news .a-native-s .a-native__link {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out; }
    .theme-red .a-native-desktop-home .a-native-s .a-native__link:hover,
    .theme-red .a-native-desktop-news .a-native-s .a-native__link:hover {
      background-color: rgba(242, 70, 61, 0.5);
      text-decoration: none; }
  .theme-ruby .a-native-desktop-home .a-native-s .a-native__link,
  .theme-ruby .a-native-desktop-news .a-native-s .a-native__link {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out; }
    .theme-ruby .a-native-desktop-home .a-native-s .a-native__link:hover,
    .theme-ruby .a-native-desktop-news .a-native-s .a-native__link:hover {
      background-color: rgba(217, 33, 33, 0.5);
      text-decoration: none; }
  .theme-yellow .a-native-desktop-home .a-native-s .a-native__link,
  .theme-yellow .a-native-desktop-news .a-native-s .a-native__link {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out; }
    .theme-yellow .a-native-desktop-home .a-native-s .a-native__link:hover,
    .theme-yellow .a-native-desktop-news .a-native-s .a-native__link:hover {
      background-color: rgba(255, 190, 38, 0.5);
      text-decoration: none; }
  .a-native-s__media {
    background-position: center;
    background-size: cover; }
    .a-native-desktop-home .a-native-s__media,
    .a-native-s-mobile-news .a-native-s__media {
      -webkit-flex: 1 0 41.66667%;
      -ms-flex: 1 0 41.66667%;
      flex: 1 0 41.66667%; }
    .a-native-desktop-home .a-native-s__media,
    .a-native-s__media .a-native-s-mobile-news,
    .a-native-s-mobile-home div[data-native-position="2"] .a-native-s__media,
    .a-native-s-mobile-home div[data-native-position="3"] .a-native-s__media,
    .a-native-s-mobile-home div[data-native-position="4"] .a-native-s__media {
      align-self: flex-start;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: flex-start;
      align-self: flex-start; }
    .a-native-s-mobile-home .a-native-s__media,
    .a-native-s-mobile-news .a-native-s__media,
    .a-native-desktop-home .a-native-s__media,
    .a-native-s-desktop-news .a-native-s__media {
      margin-right: 0.5rem; }
    .a-native-s-mobile-home[data-natives-counter="1"] .a-native-s__media,
    .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="1"] .a-native-s__media,
    .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="1"] .a-native-s__media {
      margin-right: 0; }
    .a-native-s-mobile-news .a-native-s__media,
    .a-native-desktop-news .a-native-s__media {
      height: 80px; }
    .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="1"] .a-native-s__media,
    .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="1"] .a-native-s__media {
      height: 100%;
      margin-bottom: 0.5rem; }
    .a-native-s-mobile-home .a-native-s__media {
      height: 64px;
      width: 33vw; }
    div[data-native-position="1"] .a-native-s__media {
      width: 100%; }
    .a-native-s-mobile-home[data-natives-counter="1"] .a-native-s__media {
      margin-bottom: 1rem;
      height: 40vh; }
    .a-native-s-mobile-home[data-natives-counter="2"] .a-native-s__media {
      -webkit-flex-order: 2;
      -ms-flex-order: 2;
      order: 2;
      width: 25vw;
      height: 25vw; }
    .a-native-desktop-home .a-native-s__media {
      height: 45px;
      margin-bottom: 0;
      max-width: 5rem; }
    .a-native-desktop-news .a-native-s__media {
      margin-bottom: .25rem;
      max-width: 80px;
      width: 100%; }
      @media screen and (min-width: 740px) {
        .a-native-desktop-news .a-native-s__media {
          height: 100%;
          max-height: 255px;
          max-width: none; } }
      @media screen and (min-width: 1024px) {
        .a-native-desktop-news .a-native-s__media {
          margin: 0 0 0.5rem 0;
          height: 132px;
          margin-right: 0; } }
  .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="2"] .a-native-s .a-native__text,
  .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="2"] .a-native-s .a-native__text,
  div[data-native-position="3"] .a-native-s .a-native__text,
  div[data-native-position="4"] .a-native-s .a-native__text {
    -webkit-flex: 0 1 66.66667%;
    -ms-flex: 0 1 66.66667%;
    flex: 0 1 66.66667%; }
  .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="1"] .a-native-s .a-native__text {
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    background-image: linear-gradient(-180deg, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, 0.67) 30%, #151010 100%); }
  .a-native-s .a-native__title {
    height: auto; }
    .a-native-s-mobile-news .a-native-s .a-native__title,
    .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="2"] .a-native-s .a-native__title,
    .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="3"] .a-native-s .a-native__title,
    .a-native-s-mobile-home[data-natives-counter="4"] .a-native-s .a-native__title {
      margin-bottom: 0; }
    .a-native-s-mobile-home[data-natives-counter="1"] .a-native-s .a-native__title,
    .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="1"] .a-native-s .a-native__title {
      font-size: 1.25rem;
      line-height: 1.5rem; }
      @media screen and (min-width: 375px) {
        .a-native-s-mobile-home[data-natives-counter="1"] .a-native-s .a-native__title,
        .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="1"] .a-native-s .a-native__title {
          font-size: 1.5rem;
          line-height: 1.75rem; } }
    @media screen and (min-width: 375px) {
      .a-native-s .a-native__title .a-native-s-mobile-home {
        font-size: 0.875rem;
        line-height: 1.25rem; } }
    .a-native-s-mobile-home[data-natives-counter="2"] .a-native-s .a-native__title,
    .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="1"] .a-native-s .a-native__title {
      font-size: 1.15rem;
      line-height: 1.5rem;
      max-height: 4.5rem;
      order: 1; }
      @media screen and (min-width: 375px) {
        .a-native-s-mobile-home[data-natives-counter="2"] .a-native-s .a-native__title,
        .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position="1"] .a-native-s .a-native__title {
          font-size: 1.5rem;
          line-height: 1.75rem;
          max-height: 5.25rem; } }
    .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="1"] .a-native-s .a-native__title {
      max-height: 3rem; }
      @media screen and (min-width: 375px) {
        .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position="1"] .a-native-s .a-native__title {
          max-height: 5.35rem; } }
    .a-native-s-mobile-news .a-native-s .a-native__title {
      font-family: "Publico", Georgia, "Times New normal", serif;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.25rem; }
    .a-native-desktop-home .a-native-s .a-native__title {
      margin-bottom: 0;
      font-size: 0.875rem;
      letter-spacing: .2px;
      line-height: 1rem; }
    .a-native-desktop-news .a-native-s .a-native__title {
      font-size: 1rem;
      font-weight: 700; }
      @media screen and (min-width: 1024px) {
        .a-native-desktop-news .a-native-s .a-native__title {
          font-size: 1.25rem; } }

.a-native-s-hidden {
  display: none;
  visibility: hidden; }

.a-native-s-mobile {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly; }

.a-native-s-mobile-home {
  padding: 0 1rem; }
  .a-native-s-mobile-home[data-natives-counter="1"] {
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
  .a-native-s-mobile-home[data-natives-counter="3"], .a-native-s-mobile-home[data-natives-counter="4"] {
    height: 90%; }
    @supports (display: grid) {
      .a-native-s-mobile-home[data-natives-counter="3"], .a-native-s-mobile-home[data-natives-counter="4"] {
        height: 100%; } }
    .a-native-s-mobile-home[data-natives-counter="3"] div[data-native-position], .a-native-s-mobile-home[data-natives-counter="4"] div[data-native-position] {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }

.a-native-m {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%; }
  .a-native-desktop-home .a-native-m .a-native__title {
    font-family: "PublicoBanner",'Georgia, "Times New Roman", serif;';
    height: auto; }
  .a-native-m .a-native__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    height: auto;
    font-family: "Publico", Georgia, "Times New normal", serif; }
    @media screen and (min-width: 375px) {
      .a-native-m .a-native__title {
        font-size: 2rem;
        line-height: 2.25rem; } }
    @media screen and (min-width: 740px) {
      .a-native-m .a-native__title {
        font-size: 1.25rem;
        line-height: 1.5rem; } }
  .a-native-m .a-native__link {
    color: #fff; }
  .a-native-m .a-native__label {
    color: #fff;
    padding: 4px 6px;
    font-size: 1rem;
    display: inline-block; }
    .theme-black .a-native-m .a-native__label,
    .t-black .a-native-m .a-native__label {
      background-color: #3b3b3b; }
    .theme-blue .a-native-m .a-native__label,
    .t-blue .a-native-m .a-native__label {
      background-color: #3277c7; }
    .theme-cyan .a-native-m .a-native__label,
    .t-cyan .a-native-m .a-native__label {
      background-color: #2a9ddb; }
    .theme-green .a-native-m .a-native__label,
    .t-green .a-native-m .a-native__label {
      background-color: #50ae55; }
    .theme-pink .a-native-m .a-native__label,
    .t-pink .a-native-m .a-native__label {
      background-color: #f291b2; }
    .theme-purple .a-native-m .a-native__label,
    .t-purple .a-native-m .a-native__label {
      background-color: #b75dc7; }
    .theme-red .a-native-m .a-native__label,
    .t-red .a-native-m .a-native__label {
      background-color: #f2463d; }
    .theme-ruby .a-native-m .a-native__label,
    .t-ruby .a-native-m .a-native__label {
      background-color: #d92121; }
    .theme-yellow .a-native-m .a-native__label,
    .t-yellow .a-native-m .a-native__label {
      background-color: #ffbe26; }
  .a-native-m__container {
    bottom: 0;
    padding: 1rem;
    position: absolute;
    z-index: 0; }
    .a-native-m__container:before {
      background-image: linear-gradient(-180deg, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, 0.67) 30%, #212121 100%);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1; }
  .fp-block__cell .a-native-m {
    height: 100%; }
  @media screen and (min-width: 740px) {
    .a-native-m {
      height: 22.5rem; } }

#a-native-desktop-m {
  height: 22.5rem; }

.a-native-xl {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative; }
  .fp-block__cell .a-native-xl {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .fp-block--sponsor .a-native-xl .a-native__title {
    font-size: .875rem; }
  .a-native-desktop-home .a-native-xl .a-native__title {
    font-size: 1.125rem;
    font-weight: normal;
    height: auto;
    line-height: 1.5rem;
    margin-bottom: 0;
    max-height: 3rem; }
  .a-native-desktop-home .a-native-xl .a-native__label {
    display: block; }
  .fp-block--sponsor .a-native-xl .a-native__title {
    font-size: .875rem; }
  .a-native-desktop-home--x3 .a-native-xl .a-native__title {
    font-size: .875rem;
    line-height: 1rem; }
  .a-native-xl__media {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-right: .75rem;
    max-width: 8rem; }
    .fp-block__cell .a-native-xl__media {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      margin-left: .75rem;
      margin-right: 0;
      max-width: 33.333333%; }
    .a-native-desktop-home--x3 .a-native-xl__media {
      max-width: 5rem; }

.a-native-event {
  background-color: #eceff1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .a-native-event__media {
    position: relative; }
