.t-pink ::selection {
  background-color: rgba(242, 145, 178, 0.3); }

.t-pink .c-progressivereadingbar__status {
  background: rgba(242, 145, 178, 0.7); }

.t-pink .c-modal,
.t-pink .t-bg,
.t-pink .t-bg-el::before,
.t-pink .c-entry__body > h3 > a::before {
  background-color: #f291b2; }

.t-pink .t-bg--200 {
  background-color: #fdecf2; }

.t-pink .t-border {
  border-color: #f291b2; }

.t-pink .t-color {
  color: #f291b2; }

.t-pink .t-fill {
  fill: #f291b2; }

.t-pink .t-icon-play::after {
  border-left-color: #f291b2; }

.t-pink .c-entry__body p a {
  color: #151010;
  border-color: #f291b2;
  background-color: transparent;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .t-pink .c-entry__body p a:hover {
    text-decoration: none;
    border-color: rgba(242, 145, 178, 0.3);
    background-color: rgba(242, 145, 178, 0.3); }
